{{! Templates

Link
==============
<li class="drawer-list-item">
  <a href="#" title="Follow me on twitter!">
    <i class="fa fa-twitter"></i> Follow me
  </a>
</li>

Divider
==============
<li class="drawer-list-divider"></li>

Title
==============
<li class="drawer-list-item drawer-list-title">
  Follow me
</li>

ProTip:
==============
Ghostium uses Font Awesome you can find all icons available on the url below
  http://fortawesome.github.io/Font-Awesome/cheatsheet/

}}

<li class="drawer-list-item">
  <a href="/" data-pjax>
    <i class="fa fa-home"></i>Home
  </a>
</li>
<li class="drawer-list-item">
  <a href="/about" data-pjax>
    <i class="fa fa-user"></i>About
  </a>
</li>
<li class="drawer-list-item">
  <a href="{{@blog.url}}/rss/">
    <i class="fa fa-rss"></i>Subscribe to Feed
  </a>
</li>
<li class="drawer-list-divider"></li>
<li class="drawer-list-item drawer-list-title">
  Metadata
</li>
<li class="drawer-list-item">
  <a href="http://rog.gr/resume.pdf" rel="nofollow" target="_blank">
    <i class="fa fa-file-pdf-o"></i>Résumé
  </a>
</li>
<li class="drawer-list-item">
  <a href="http://rog.gr" target="_blank">
    <i class="fa fa-external-link-square"></i>Portfolio
  </a>
</li>
<li class="drawer-list-item">
  <a href="https://twitter.com/rogeruiz" rel="nofollow" target="_blank">
    <i class="fa fa-twitter-square"></i>Twitter
  </a>
</li>
<li class="drawer-list-item">
  <a href="https://www.linkedin.com/in/rogeruiz" rel="nofollow" target="_blank">
    <i class="fa fa-linkedin-square"></i>LinkedIn
  </a>
</li>
<li class="drawer-list-item">
  <a href="https://github.com/rogeruiz" rel="nofollow" target="_blank">
    <i class="fa fa-github"></i>Github
  </a>
</li>
<li class="drawer-list-item">
  <a href="https://gist.github.com/rogeruiz" rel="nofollow" target="_blank">
    <i class="fa fa-github"></i>Gist
  </a>
</li>
